@import "src/style/variables";

.select-wrapper {
  position: relative;
  width: 50%;

  &__dropdown {
    width: 100%;
    padding: 16px;
    border: 2px solid $color-primary;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 62px;
    transition: opacity 0.3s;

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }
}
