@import "src/style/variables";

.filter-box {
  box-shadow: 0 0 0 1px rgba(0,0,0,1) inset;
  background-color: $color-background;
  padding: 8px;
  box-sizing: border-box;
  //width: 200px;
  height: 64px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  font-weight: 400;
  position: relative;

  &__name {
    font-weight: 500;
  }

  &:hover, &:focus, &--open {
    box-shadow: 0 0 0 2px rgba(0,0,0,1) inset;
  }

  &--open {
    z-index: 2;
    border-bottom: transparent;
  }

  &--active {
    border-width: 2px;

    .filter-box {
      &__name {
        font-weight: 600;
      }

      &__right {
        .icon-chevron {
          stroke-width: 2.5;
        }
      }
    }
  }

  &__left {
    width: calc(100% - 36px);
  }

  &__right {
    width: 36px;
    height: 36px;

    .icon-chevron {
      width: 36px;
      height: 36px;
    }
  }

  &__counter {
    margin-left: 8px;
    background-color: $color-primary;
    color: $color-element;
    padding: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
}
